.detail-track-cop-scroll {
  max-height: 250px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}

.card-track-detail {
  margin-bottom: 2px;
}

.header-track-detail {
  padding: 5px;
}

.body-track-detail {
  padding-top: 5px;
  padding-bottom: 5px;
}

.team-name {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

.title-name {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}
